{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}

[data]
    isWorkComputer = {{ $isWorkComputer }}

[keepassxc]
    database = {{ promptStringOnce . "keepassxcDatabase" "Path to KeePassXC database" }}

[git]
    autoCommit = true
    autoPush = true
