# This template is run when chezmoi init cant find a config 
{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}
{{- $keepassxcDb := promptStringOnce . "keepassxcDatabase" "Path to KeePassXC database" -}}

[data]
    isWorkComputer = {{ $isWorkComputer }}

[keepassxc]
    database = {{ $keepassxcDb | quote }}

[git]
    autoCommit = true
    autoPush = true
