{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}
{{- $keepassxcDb := promptStringOnce . "keepassxcDatabase" "Path to KeePassXC database" -}}

[data]
    isWorkComputer = {{ $isWorkComputer }}

[keepassxc]
    database = {{ $keepassxcDb | quote }}

[git]
    autoCommit = false
    autoPush = false
